{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
</head>

<body>

    <div class="header">
        <div class="logo">

            <a class="logo-text" href="fblogin.htm">facebook</a>
        </div>

        <div class="login">
            <form class="form-inline">
                <div class="form-group mb-2">
                    <label for="staticEmail2" class="sr-only">Email</label>
                    <input type="text" class="form-control" id="staticEmail2" placeholder="email@example.com">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="inputPassword2" class="sr-only">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Login</button>
            </form>
        </div>


    </div>
    <div class="container">
        <div class="main-body">
            <div class="left-section">

                <h2 class="para"><b>Connect with friends and the world<br>around you on facebook</b></h2>
                <p><span class="fas fa-newspaper"></span> See photos and updates from friends in News Feed.</p><br>
                <p><span class="fas fa-calendar-alt"></span> Share what's new in your life on your Timeline.</p><br>
                <p><span class="fas fa-project-diagram"></span> Find more of what you're lookin for with Graph Search.</p>





            </div>
            <div class="right-section">
                <h1>Sign Up</h1><br>
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                </form>
                <form>
                    <div class="form-group">
                        <label for="formGroupExampleInput"></label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Mobile Number or Email">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2"></label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2"></label>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Male</label>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">Female</label><br>

                    </div>
                    <p>By clicking <a href="#">Create Account</a> you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Data Policy</a>,including our <a href="#">Cookie</a> use.</p>
                    <button type="button" class="btn btn-success btn-lg">Sign Up!</button>
                </form>

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>