{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <img src="{% static '/images/bulbon.jpg' %}" alt="My Image" id="img1">
    <button onclick="BulbOn()">OFF</button>
    <button onclick="BulbOff()">ON</button>

    <script>
        function BulbOn() {
            document.getElementById('img1').src = '/static/images/bulboff.jpg'
        }

        function BulbOff() {
            document.getElementById('img1').src = '/static/images/bulbon.jpg'
        }
    </script>
 -->
    <button onclick="arr()">click</button>
    <button onclick="printbackwards()">click</button>
    <input type="password" placeholder="password" id="pw">

    <script>
        array = ['red', 'blue', 'white', 'yellow']

        function arr() {

            console.log(array)

            for (i in array) {
                document.write(array[i] + "<br>")
            }
        }

        function printbackwards() {
            limit = 10;
            while (limit >= 0) {
                document.write(limit + "<br>")
                limit = limit - 1;
            }
        }

        console.log
    </script>
</body>

</html>